* {
    font-family: 'Amaranth', 'Noto Sans Japanese', sans-serif;
  font-weight: 400;
}

.btn-group {
    padding: 5px 0;
}


.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.dropdown-menu {
    font-size:1.5em;
    right: 0;
    left: auto;
}

.panel {
    font-size: 1.5em;
}

.thead {
    padding: 15px;
}

.tbody {
    padding: 15px;
    overflow-y: scroll;
}

.trow {
    padding: 8px;
    border-top: 1px solid #D7D7D7;
}

div.trow > div > img {
    max-width: 50px;
    max-height: 50px;
}
