* {
    font-family: 'Amaranth', 'Noto Sans Japanese', sans-serif;
  font-weight: 400;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.panel-height {
    overflow-y: scroll;
}

.dropdown-items > div:nth-child(1) {
    margin: 10px 0 5px 20px;
}

.dropdown-items
{
    text-align: left;
    margin-left: auto;
}

.panel {
    margin: 0px 20px;
}

table {
    font-size:1.5em;
}

.dropdown-menu {
    font-size:1.5em;
}
