.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.panel-height {
    overflow-y: scroll;
}

.btn-group {
    margin: 10px 0px 5px 10px;
}

.panel {
    margin: 0px 20px;
}

table {
    font-size:1.5em;
}

.dropdown-menu {
    font-size:1.5em;
}
